.ul-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 250px;
}

.today {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.hourly-container {
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 35px;
  list-style: none;
  width: 185px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.d-flex {
  display: flex;
}

.container {
  text-align: center;
}

.par-city {
  color: rgb(73, 73, 73);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
}

.par-date {
  color: rgb(73, 73, 73);
  font-size: 25px;
  font-weight: bold;
  margin: 10px; 
}

.par-time {
  color: rgb(73, 73, 73);
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.par-temp {
  color: rgb(73, 73, 73);
  font-size: 40px;
  font-weight: bold;
  text-shadow: 5px 2px rgb(177, 210, 227);
  margin: 10px;
  
}

.par-feels, .par-conditions, .par-variation {
  color: rgb(73, 73, 73);
  font-size: 20px;
  margin: 10px;
  text-shadow: 5px 2px rgb(177, 210, 227);
}

.par-conditions {
  color: rgb(73, 73, 73);
  font-style: italic;
}

@media all and (max-width: 820px) {
  .hourly-container {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  .ul-container {
    width: 100%;
  }
  .d-flex {
    flex-direction: column;
  } 
} 

@media all and (max-width: 500px) {
  .ul-container {
    border: 1px solid black;
    border-radius: 40px;
  }
}
  